@import '../../../shared/styles/mixins';

:host {
    @include display-flex(null, center);
    padding:8px 16px;
    background-color: var(--color-green);
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 16px;
    flex-flow: row wrap;

    .col {
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-white);
        flex: 1 1 0;
        padding: 8px;
        @include display-flex(center, null);

        
        &.img {
            width: 104px;
            max-width: 104px;
            min-width: 104px;
            flex: unset;
        }

        &.action {
            width: 32px;
            min-width: 32px;
            max-width: 32px;
        }
    }
}