@import '../../../shared/styles/mixins';

:host {
    @include display-flex(null, center);
    padding: 8px 16px;
    background-color: var(--color-grey);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 8px;
    font-size: 16px;
    flex-flow: row wrap;

    .cell {
        flex: 1 1 0;
        padding: 8px;
        @include display-flex(center, null);

        &.img {
            width: 104px;
            max-width: 104px;
            min-width: 104px;
            height: 104px;
            max-height: 104px;
            min-height: 104px;
            object-fit: cover;
            flex: unset;
            border-radius: 25%;
            padding: 0;
        }

        &.action {
            width: 32px;
            min-width: 32px;
            max-width: 32px;
            font-size: 32px;
            color: var(--color-green);
        }
    }
}
  