:host {
    width: 100%;
    margin: 16px 0;
    display: block;
}

.searcher {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 8px);
    height: 24px;
}